.main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.card {
  background-color: white;
  padding: 0.7rem 1rem;
  filter: drop-shadow(0px 0px 1px rgb(39, 39, 39));
  border-radius: 0.3rem;
  width: min(330px, 95%);
}

.username {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: fit-content;
  width: 280px;
}
.username > input {
  padding: 0.4rem;
  border: 2px solid #b1b1b1;
  border-radius: 0.3rem;
  font-weight: 500;
}
.username > input:focus-visible {
  border: 2px solid;
}
.username > button {
  margin-left: auto;
  padding: 0.15rem 0.7rem;
}

.race {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
}
.race h3,
.race p {
  margin: 0;
}
.race h3 {
  font-weight: 600;
}
.race p {
  font-size: 0.85rem;
  font-weight: 500;
}
.race > button {
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
}
@media (width<750px) {
  .main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .username {
    width: min(280px, 95%);
  }
  .race {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
